<!DOCTYPE html>
<html lang="ko">
    {{> head}}
  <body>

      <div class="bg-dark h-100" id="game" style="overflow: hidden;">
        <div id="play">
        </div>
      </div>

      <div class="fixed-bottom text-right">
        <button class="btn rounded mb-3 mr-3 p-3" id="info_button" data-bs-toggle="modal" data-bs-target="#info"><i class="fas fa-question-circle"></i></button>
      </div>

      <div class="h-100 blur overflow-scroll fixed-top text-right div-hide" id="console">
        <b>닫으려면 i버튼을 누르세요</b> <br>
        [ + ] connected <br>
      </div>

      <dds-modal
          modal-id="info"
          modal-title="Gr0und 소개"
          modal-subtitle="그라운드는 스무더 프로젝트에서 파생된 메타버스 플랫폼 입니다. ThreeJS 기반으로 개발되고 있습니다.">
              <dds-modal-button button-color="btn-blue" button-text-color="text-primary" is-dismiss="false" onclick="window.open('https://smoother.kr')">스무더</dds-modal-button>
              <dds-modal-button button-color="btn-light" button-text-color="text-dark" is-dismiss="true">취소</dds-modal-button>
      </dds-modal>

      <div class="modal fade" id="modal_ground_menu" tabindex="-1" aria-labelledby="modal_ground_menu" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content modal-blur">
  
            <div class="modal-body">
              <h3 class="modal-title text-light">메뉴</h3>
              <br>
              <input class="mode_check" type="checkbox" checked  /> 다크모드

              <p>PEER: <b id="menu_peer"></b>
              </p>
              <p>UID: <b id="menu_uid"></b>
              </p>

              <span id="loadPer">0</span>


              <label for="modal_feed_info_body_url">공유 URL</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text input-modalcontent" id="basic-addon3" onclick="shareClipboard('')"><i class="fas fa-clipboard-list"></i></span>
                </div>
                <input type="text" class="form-control input-modalcontent" id="modal_feed_info_body_url" aria-describedby="basic-addon3">
              </div>

            </div>
          </div>
        </div>
      </div>

    
    {{> footer}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.9.0/nipplejs.min.js" integrity="sha512-7PRZndBOTMkYqbGwO6dvNDozKEwaJYu3zPLoLv0rzOLMPQ2PVh6yaevCZOUL8+/n+A16fnLYEBKAlYXgMBn54w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="./js/main.js" type="module"></script>

  </body>
</html>