<!DOCTYPE html>
<html lang="ko">
    {{> head}}
  <body>

      <div class="bg-dark h-100" id="game" style="overflow: hidden;">
        <div id="play">
        </div>
      </div>

      <div class="fixed-bottom text-start d-grid gap-2 d-flex justify-content-start">
        <div class="col">
          <button class="btn rounded mb-3 mr-3 p-3" id="info_button" data-bs-toggle="modal" data-bs-target="#info"><i class="fas fa-question-circle text-light"></i></button>
        </div>

        <div class="col text-end pe-3">
          <button class="btn btn-light btn-lg btn-jump rounded " id="jump_button"><i class="fas fa-chevron-circle-up"></i></button>

        </div>
      </div>

      <div class="h-100 blur overflow-scroll fixed-top text-center" id="loading">
        <div class="container h-100">
          <div class="row h-100">

            <div class="col align-self-center">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="h-100 blur overflow-scroll fixed-top text-right div-hide" id="console">
        <b>닫으려면 i버튼을 누르세요</b> <br>
        [ + ] connected <br>
      </div>

      <dds-modal
        modal-id="info"
        modal-title="Gr0und 소개"
        modal-subtitle="그라운드는 스무더 프로젝트에서 파생된 메타버스 플랫폼 입니다. ThreeJS 기반으로 개발되고 있습니다.">
          <dds-content>
            <b>카메라 fov 줌</b>
            <div class="input-group mb-3">
              <button class="btn btn-blue" id="button_zoom_p">+</button>
              <input type="text" class="form-control" id="zoom_input" value="시야 확대 90" disabled>
              <button class="btn btn-red" id="button_zoom_m">-</button>

            </div>

            <b>카메라 위치 줌</b>
            <div class="input-group mb-3">
              <button class="btn btn-blue" id="camera_zoom_in">+</button>
              <input type="text" class="form-control" id="camera_zoom_input" value="카메라 위치 0,0,0" disabled>
              <button class="btn btn-red" id="camera_zoom_out">-</button>

            </div>

            
          </dds-content>

          <dds-modal-button button-color="btn-blue" button-text-color="text-primary" is-dismiss="false" onclick="window.open('https://smoother.kr')">스무더</dds-modal-button>
          <dds-modal-button button-color="btn-light" button-text-color="text-dark" is-dismiss="true">취소</dds-modal-button>
      </dds-modal>


    
    {{> footer}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.9.0/nipplejs.min.js" integrity="sha512-7PRZndBOTMkYqbGwO6dvNDozKEwaJYu3zPLoLv0rzOLMPQ2PVh6yaevCZOUL8+/n+A16fnLYEBKAlYXgMBn54w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://unpkg.com/three@0.128.0/examples/js/loaders/OBJLoader.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cannon.js/0.6.2/cannon.min.js" integrity="sha512-avLcnGxl5mqAX/wIKERdb1gFNkOLHh2W5JNCfJm5OugpEPBz7LNXJJ3BDjjwO00AxEY1MqdNjtEmiYhKC0ld7g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/main.js" type="module"></script>


    <script>
    </script>
  </body>
</html>