
.font-title {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.font-weight-lg {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 700 !important;
}
.font-weight-md {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 500 !important;
}

.card-title{
    font-family: 'Noto Sans KR', sans-serif;

}

.form-textarea{
    border: none !important;
}

body.swal2-height-auto {
    height: initial !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior-x: none;

}

.swal2-container.swal2-center>.swal2-popup {
    border-radius: 10px;
}

#info_button:hover > i{
    color: #407dee;
}

.div-hide {
    display: none;
}

.blur {
    background-color: #ffffffd5;
    -webkit-backdrop-filter: saturate(120%) blur(16px);
    backdrop-filter: saturate(120%) blur(16px);
}

.overflow-scroll {
    overflow-y: scroll;
    overflow-x: scroll;

}

.btn {
    touch-action: manipulation !important;

}

.btn-jump {
    padding: 18px !important;
    border-radius: 70px !important;
    margin-bottom: 6px !important;
}